/node_modules
/public/stata16/do
/public/stata16/log
/public/stata16/result
/public/stata16/
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.dta
.idea
